<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8">
</head>

<body>
	<div class="comm_wrap" th:fragment="commonLayout">
		<div id="sideBar" class="side_bar_wrap">
			<div class="logo_wrap">
				<img th:src="@{/images/logo_white.png}"/>
			</div>
			<div class="menu_wrap">
				<ul>
					<li data-url="/dashboard">
						<img th:src="@{/images/menu/icon_home.png}">
						<span>대시보드</span>
					</li>
					<li data-url="/apply-list">
						<img th:src="@{/images/menu/icon_company.png}">
						<span>지원 회사 관리</span>
					</li>
					<li data-url="/interview-list">
						<img th:src="@{/images/menu/icon_calendar.png}">
						<span>면접 일정 관리</span>
					</li>
					<li data-url="/memo-list">
						<img th:src="@{/images/menu/icon_note.png}">
						<span>메모 / 회고</span>
					</li>
					<li data-url="/statistics">
						<img th:src="@{/images/menu/icon_chart.png}">
						<span>통계</span>
					</li>
				</ul>
			</div>
			<div class="motivation_quote_wrap">
				<div class="quote_top">
					<p class="quote_message">
						오늘도<br/>좋은 하루 보내세요!<br/>화이팅! 💪
					</p>
				</div>
			
				<div id="quoteBox" class="quote_box" data-staus="false">
					<p id="quoteText" class="quote_text"></p>
			
					<div class="quote_author_wrap">
						<p id="quoteAuthor" class="quote_author"></p>
						<p id="quoteAuthorProfile" class="quote_author_desc"></p>
					</div>
				</div>
			</div>
		</div>
		
		<div id="topBar" class="top_bar_wrap">
			<div class="alarm_wrap">
				<button type="button" class="alarm_btn">
					<span class="alarm_count">0</span>
				</button>
			</div>
			<div class="user_wrap">
				<div class="user_image"></div>
				<div class="user_name">김효진 님</div>
				<div id="userInfo" class="user_info"></div>
				<ul class="dis_none">
					<li>
						<img th:src="@{/images/icon_mypage.png}">
						<span>마이페이지</span>
					</li>
					<li>
						<img th:src="@{/images/icon_logout.png}">
						<span>로그아웃</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>