<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.careerlog.mapper.UserMapper">

	<select id="findByUserId" resultType="UserDto">
		SELECT
			user_id
			, password
			, user_name
			, reg_dt
			, updt_dt
			, last_login_dt
		FROM
			tb_user
		WHERE
			user_id = #{userId}
	</select>
</mapper>	