<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>CareerLog | 지원 회사 관리</title>
	<th:block th:replace="~{common/head :: head}"></th:block>
	<link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.dataTables.css" />
	<link rel="stylesheet" href="/css/dashboard.css">
	
	<script src="https://cdn.datatables.net/2.3.8/js/dataTables.js"></script></head>
	<script src="/js/apply-list.js"></script>
<body>
	<div class="page_wrap">
		<th:block th:replace="~{common/layout :: commonLayout}"></th:block>
		
		<div class="content_wrap">
			<div class="content_inner">
				<table id="applyGrid"></table>
			</div>
		</div>
	</div>
</body>
</html>